<div class="add-to-cart-container" data-product-id="{{product_id}}">
    <table class="variations">
        {{#variations}}
            <tr class="variation" data-display-price="{{display_price}}" data-variation-id="{{variation_id}}">
                <td>
                    <div class="quantity">
                        <input
                                type="number"
                                step="1"
                                name="quantity"
                                min="0"
                                max="{{max_qty}}"
                                value="0"
                        />
                        <div class="qty-adjust">
                            <a class="qty-plus" href="#">
                                <i class="sf-icon-chevron-up"></i>
                            </a>
                            <a class="qty-minus" href="#">
                                <i class="sf-icon-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="quantity_desc"></div>
                </td>
                <td>
                    <h4>{{attribute}}</h4>
                    <div>{{variation_description}}</div>
                </td>
                <td class="price">
                    {{{price_html}}}
                </td>
            </tr>
        {{/variations}}
    </table>

    <div class="total">
        <button type="submit" class="addtocartbutton button">
            <i class="sf-icon-add-to-cart"></i>
            <span>{{add_to_cart_text}}</span>
        </button>
        <h3 class="cart-total">
            <span class="text">{{total_text}}</span>
            <span class="amount">0</span>
        </h3>
    </div>
</div>

<script>

</script>